<!DOCTYPE html>
<html>
<head>
  <title>So03022016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= content_for(:javascript) if content_for?(:javascript) %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>application.js is included at the bottom of the page, after rendering the view<br />
which renders the JS in either the head using content_for or somewhere in the view.</h3>
<%= link_to 'inline example', inline_path %> |
<%= link_to 'in head example', head_path %>
<%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
